body{
    background:forestgreen;
    color:black;
    margin: 0px;
    margin-bottom: 100px;
}
header{
    color: aquamarine;
    border-bottom: 3px solid;
    padding: 15px;

}
chamada{
    background: rgb(4, 4, 94);
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}

chamada-texto{
margin-right: 5px;

}

categoria{
    padding-left: 20px;
    padding-left: 20px;
    margin-top: 50px;

}

categria video{
    display: flex;
    overflow: auto;
    gap: 20px;


}

categoria video img{
    height: 20px;
    opacity: 0.5;

}
 categoria video img:hover{
    opacity: 1.0;
    border: 3px sold rebeccapurple;
 }

